/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* My Resets */

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  font-size: 16px;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
}

/* custom style */

.container {
  max-width: 1380px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

/* Padding */

.padding {
  padding: 2rem 0;
}

/* flex */

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.item-center {
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

/* column */

.flex-15 {
  flex: 0 1 15%;
}

.flex-20 {
  flex: 0 1 20%;
}

.flex-25 {
  flex: 0 1 25%;
}

.flex-30 {
  flex: 0 1 30%;
}

.flex-40 {
  flex: 0 1 40%;
}

.flex-48 {
  flex: 0 1 48%;
}

.flex-50 {
  flex: 0 1 50%;
}

.flex-60 {
  flex: 0 1 60%;
}

.grow {
  flex: 1 1 auto;
}

/* Padding */

.padding {
  padding: 2rem 0;
}

/* Center Elements  */

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Text */

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.font-0 {
  font-size: 0;
}

/* button  */

.btn {
  display: inline-block;
  padding: 0.8rem 1.4rem;
  text-transform: capitalize;
  cursor: pointer;
  background-color: #38b667;
  color: #ffff;
  border-radius: 0.4rem;
  font-size: 1rem;
  margin-top: 2rem;
}

.btn:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  opacity: 0.8;
  color: #ffff;
}

/* Navigation Bar  */

.navbar {
  background-color: #212946;
  padding: 1rem 0;
}

.nav-item {
  margin-left: 2rem;
}

.nav-item a {
  color: #ffff;
  text-transform: uppercase;
  font-size: 1.3rem;
}

.nav-item a:hover {
  color: #38b667;
}

.nav-item .active {
  color: #38b667;
}

/* Hero */

.hero {
  background-color: #e9ecfd;
}

.heading {
  font-size: 2.2rem;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 1rem;
  font-family: auto;
}

.hero p {
  color: #8e8a8a;
}

.right-col img {
  width: 100%;
}

/* blog  */

h2 {
  font-size: 2.4rem;
  padding: 1rem 0;
  font-weight: 500;
  text-transform: capitalize;
}

.blog h3 {
  font-size: 1.6rem;
  margin: 0.6rem 0;
  font-weight: 500;
}

.blog p {
  font-size: 0.8rem;
  color: #8e8a8a;
}

.blog img {
  width: 100%;
}

.blog .btn {
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  margin-top: 1.6rem;
}

/* footer  */

.footer {
  background-color: #212946;
  color: #ffff;
}

.footer small {
  font-size: 1.4rem;
}

.footer a {
  margin-left: 1.6rem;
  font-size: 1.5rem;
  color: white;
}

/* Mobile responsive view */

@media screen and (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media screen and (max-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 720px;
  }
  html {
    font-size: 10px;
  }
  .flex-100 {
    flex: 0 1 100%;
    margin: 1rem 0;
  }
  .wrap {
    flex-wrap: wrap;
  }
  .order-1 {
    order: 1;
  }
  .column {
    flex-direction: column;
  }
  .navbar {
    padding: 2rem 0;
  }
  .brand {
    margin-bottom: 2rem;
  }
  .nav.item {
    margin: 1.5rem 1.5rem;
  }
  .footer a {
    margin: 2rem 1.5rem 0 1.5rem;
    display: inline-block;
  }
}

@media screen and (max-width: 576px) {
  .container {
    max-width: 540px;
  }
}
